h1,
h2,
p {
  text-align: center;
}
body {
  background-color: rgb(53, 53, 53);
}

main,
.myform {
  padding-top: 5rem;
  background-color: white;
  width: 80%;
  margin: auto;
  padding-bottom: 4rem;
}
.bottom-section {
  margin-top: 3rem;
}

.card {
  margin: 15px;
}

.myform {
  padding: 15px 50px;
  width: 100%;
  /* max-width: 800px; */
}
